#login {
	width: 100vw;
	min-height: 100vh;
	background: var(--AIESEC-Blue);

	.login__container {
		width: 100%;
		height: 100%;
		max-width: 447px;
		padding: 4rem 1rem;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: var(--white);

		@media screen and (max-width: 540px) {
            min-height: 100vh;
			padding: 5rem 0 0 0;
			max-width: 540px;
			align-items: flex-start;
		}

		.get__started,
		.follow__up__text {
			text-align: center;
			width: 250px;

			@media screen and (max-width: 540px) {
				text-align: left;
				padding-left: 1rem;
				width: 270px;
			}
		}

		.get__started {
			font-weight: 900;
			font-size: 1.875rem;
			margin-bottom: 1rem;
		}

		.follow__up__text {
			font-weight: 300;
			font-size: 1rem;
			line-height: 21px;
			opacity: 0.8;
		}

		.arrow__down {
			margin: 1.5rem 0;
			padding-right: 1rem;

			@media screen and (max-width: 540px) {
				margin-top: -1rem;
				padding-right: 3rem;
				align-self: flex-end;
			}
		}

		.login__form {
			width: 100%;
			padding: 2.5rem 2rem;
			background: var(--white);
			border-radius: 15px;

			@media screen and (max-width: 540px) {
				border-radius: 20px 20px 0px 0px;
				padding: 2.5rem 1rem;
                flex: auto;
                justify-self: flex-end;
			}

			.form__group {
				width: 100%;
				margin-bottom: 20px;
				display: flex;
				flex-direction: column;

				&:last-child {
					margin-bottom: 0;
				}

				label {
					color: var(--AIESEC-Black);
					font-weight: 600;
					font-size: 0.875rem;
					line-height: 17px;
					margin-bottom: 0.7rem;
				}

				input {
					background: var(--white);
					border: 1px solid var(--outline);
					border-radius: 5px;
					color: var(--AIESEC-Black);
					font-weight: 600;
					font-size: 0.875rem;
					padding: 1rem;
					display: block;

					&::placeholder {
						color: var(--outline);
						font-weight: 500;
						font-size: 0.875rem;
						line-height: 17px;
					}
				}

				.password__eye__div {
					position: relative;
					width: 100%;
					margin-bottom: 10px;
					background: var(--white);
					border: 1px solid var(--outline);
					border-radius: 5px;

					&:hover {
						box-shadow: 0px 0px 10px rgba(var(--AIESEC-Blue-rgb), 0.38);
					}

					&.focus {
						outline-width: 0px;
						border: 1px solid var(--AIESEC-Blue) !important;
						box-shadow: 0px 0px 10px rgba(var(--AIESEC-Blue-rgb), 0.38);

						input {
							box-shadow: none;
							border: none !important;
						}
					}

					input {
						border: none;
						width: 85%;
					}

					.eye__slash,
					.eye {
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						right: 15px;
						cursor: pointer;
						color: var(--outline);
						font-size: 1.5rem;
						opacity: 0.7;

						&:hover {
							opacity: 1;
						}

						&.none {
							display: none;
						}
					}
				}
			}

			.submit__button {
				width: 100%;
				height: 54px;
				border-radius: 5px;
				display: flex;
				align-items: center;
				justify-content: center;
				border: none;
				margin-top: 2.5rem;
				font-weight: 600;
				font-size: 0.875rem;
				line-height: 17px;
				background: var(--AIESEC-Blue);
				color: var(--white);

				&:disabled {
					background: var(--light-gray);
					color: var(--outline);
				}
			}

			.reset__password__link {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;

				.forgot__password {
					color: var(--AIESEC-Black);
					font-weight: 300;
					font-size: 1rem;
					line-height: 21px;
					margin-top: 1.5rem;
					text-align: center;

					a {
						color: var(--AIESEC-Blue);
						font-weight: bold;
					}
				}
			}
		}

		.copyright__text {
			font-weight: normal;
			font-size: 1rem;
			line-height: 19px;
			color: var(--white);
			margin-top: 2rem;

			&__mobile {
				width: 100%;
				text-align: center;
				font-weight: 300;
				font-size: 0.875rem;
				color: var(--AIESEC-Black);
				margin-top: 5rem;
				display: none;
			}

			@media screen and (max-width: 540px) {
				display: none;

				&__mobile {
					display: block;
				}
			}
		}
	}
}
