#dashboard__main__content {
	transition: margin 0.4s ease-in-out;
	position: relative;

	.main {
		min-height: calc(100vh - 40px);
		padding: 90px 2rem 0 50px;

		@media screen and (max-width: 600px) {
			padding: 90px 1rem 0 1rem;
		}

		.custom__dropdown {
			width: 100%;
			max-width: 480px;
			border: 1px solid var(--outline);
			border-radius: 5px;
			margin-bottom: 20px;
			background: transparent;
			
			&:focus,
			&:hover{
				border-color: var(--AIESEC-Blue);
			}
			
			&.select{
				background: var(--white);
			}

			.Dropdown-placeholder{
				color: var(--outline);
			}

			&__control {
				width: 100%;
				height: 48px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				border: none;
				cursor: pointer;
				background: none;
				border-bottom: 2px solid var(--main-text);
				font-style: normal;
				font-weight: 500;
				color: var(--AIESEC-Black);
				padding: 0.3rem 1rem;

				.is-selected {
					font-size: .875rem;
					line-height: 160%;
					color: var(--AIESEC-Black);
				}

				svg {
					margin-left: 0.7rem;
					color: var(--AIESEC-Black);
					font-size: 1.5rem;
				}
			}

			.Dropdown-menu {
				padding: 16px;
				background: #f2f2f2;
				box-shadow: 0px 4px 20px 3px rgba(173, 173, 173, 0.25);
				border-radius: 8px;
				margin-top: 4px;
				z-index: 10;
				min-height: 160px;
				max-height: 300px;
				max-width: 480px;
				top: 100%;

				/*For scrollbar*/
				&::-webkit-scrollbar {
					background: rgba(196, 196, 196, 0.2);
					width: 4px;
					border-radius: 16px;
				}

				/* Track */
				&::-webkit-scrollbar-track {
					border-radius: 4px;
				}

				/* Handle */
				&::-webkit-scrollbar-thumb {
					background: var(--AIESEC-Blue);
					border-radius: 16px;
				}

				/* Handle on hover */
				&::-webkit-scrollbar-thumb:hover {
					opacity: 0.87;
				}

				.Dropdown-option {
					border-bottom: 2px solid #d5d5d5;
					font-style: normal;
					font-weight: 500;
					font-size: 0.875rem;
					line-height: 16px;
					letter-spacing: -0.02em;
					color: var(--AIESEC-Black);
					padding: 16px 0;
					display: flex;
					align-items: center;
					justify-content: center;

					&:hover {
						background: none;
						color: var(--AIESEC-Blue);
						opacity: .5;
					}

					&.is-selected {
						background: none;
						font-weight: bold;
						color: var(--AIESEC-Blue);

						&:hover {
							background: none;
							color: var(--AIESEC-Blue);
						}
					}
				}
			}
		}

		.current__stats__text {
			font-style: normal;
			font-weight: bold;
			font-size: 1rem;
			line-height: 19px;
			color: var(--AIESEC-Black);
			margin-bottom: 10px;
		}

		.current__stats {
			width: 100%;
			overflow-x: auto;
			display: flex;
			align-items: center;
			-ms-overflow-style: none;
			scrollbar-width: none;
			margin-bottom: 20px;

			&::-webkit-scrollbar {
				display: none;
			}

			.current__stat {
				min-width: 150px;
				min-height: 114px;
				background: var(--white);
				box-shadow: 0px 0px 10px rgba(202, 202, 202, 0.15);
				border-radius: 5px;
				margin-right: 10px;
				padding: 1.6rem 1.4rem;

				&__name {
					font-style: normal;
					font-weight: 300;
					font-size: 0.875rem;
					line-height: 17px;
					color: var(--AIESEC-Black);
				}

				&__value {
					font-style: normal;
					font-weight: 900;
					font-size: 1.875rem;
					line-height: 36px;
					color: var(--AIESEC-Blue);
					margin-bottom: 13px;
				}
			}
		}

		.charts {
			position: relative;
			width: 100%;
			margin-bottom: 33px;

			.charts__container {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				overflow-x: auto;
				-ms-overflow-style: none;
				scrollbar-width: none;

				&::-webkit-scrollbar {
					display: none;
				}
			}

			.arrow {
				border: none;
				position: absolute;
				z-index: 10;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				top: 50%;
				transform: translateY(-50%);
				background: var(--white);
				box-shadow: 0px 1.33333px 5.33333px rgba(0, 0, 0, 0.15);
				display: flex;
				justify-content: center;
				align-items: center;

				svg {
					color: var(--AIESEC-Blue);
					font-size: 1.2rem;
				}

				&.arrow__left {
					left: 15px;
				}

				&.arrow__right {
					right: 15px;
				}

				&.dnone {
					display: none;
				}
			}

			.chart {
				min-width: 538px;
				max-width: 538px;
				min-height: 581px;
				background: var(--white);
				margin-right: 34px;
				padding: 1.825rem 1.125rem;

				.title,
				.subtitle {
					width: 100%;
					text-align: left;
				}

				.title {
					font-style: normal;
					font-weight: bold;
					font-size: 1rem;
					line-height: 19px;
					color: var(--AIESEC-Black);
					margin-bottom: 12px;
				}

				.subtitle {
					font-style: normal;
					font-weight: 300;
					font-size: 0.875rem;
					line-height: 17px;
					color: var(--AIESEC-Black);
				}

				&.product__interest__chart {
					width: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;

					.legends {
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: space-around;
						margin-top: 48px;

						.legend {
							display: flex;
							align-items: center;

							&__color {
								width: 12px;
								height: 12px;
								border-radius: 50%;
								margin-right: 15px;
							}

							&__name {
								font-style: normal;
								font-weight: 300;
								font-size: 0.875rem;
								line-height: 17px;
								color: #686868;
							}
						}
					}
				}

				&.funnel__chart {
					.title {
						margin-bottom: 29px;
					}
				}
			}
		}

		.view__expa__container {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			margin-bottom: 30px;

			.view__expa {
				display: block;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				font-style: normal;
				font-weight: bold;
				font-size: 1rem;
				line-height: 19px;
				color: var(--AIESEC-Blue);

				svg {
					margin-left: 23px;
					transition: transform 0.5s ease-in-out;
				}

				&:hover {
					svg {
						transform: translateX(10px);
					}
				}

				@media screen and (max-width: 338px) {
					font-size: 0.8rem;
				}
			}
		}
	}

	.footer {
		margin: 0;
		padding-bottom: 1rem;
	}
}
