#notifications__main__content {
	transition: margin 0.4s ease-in-out;
	position: relative;

	.main {
		min-height: 85vh;
		margin-top: 90px;

		.notifications {
			width: 100%;
			padding: 3rem;

			.notification {
				width: 100%;
				margin-bottom: 1.5rem;

				&:after {
					content: '';
					display: block;
					width: 100%;
					max-width: 345px;
					margin-top: 1.125rem;
					border-bottom: 1px solid rgba(0, 30, 47, 0.15);
				}

				&:last-child {
					&::after {
						border-bottom: none;
					}
				}

				&__title {
					display: flex;
					align-items: center;
					margin-bottom: 1rem;

					img {
						width: 24px;
						height: 24px;
						margin-right: 10px;
					}

					p {
						font-size: 0.875rem;
						line-height: 17px;
						color: var(--AIESEC-Black);

						a {
							color: var(--AIESEC-Blue);
						}
					}
				}

				&__message {
					p {
						font-weight: 300;
						font-size: 0.875rem;
						line-height: 17px;
						color: var(--AIESEC-Black);
					}
				}
			}

			@media screen and (max-width: 600px) {
				padding: 3rem 1rem;
			}
		}
	}
}
