#customers__main__content {
	width: 100%;
	transition: margin 0.4s ease-in-out;
	position: relative;

	.main {
		width: 100%;
		max-width: 594px;
		min-height: 85vh;
		margin-top: 90px;
		padding: 0 1.5rem;
	}
}
